body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.tab-container {
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #555;
}

.content {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
}

.tool-container {
    display: flex;
    flex-direction: column;
}

textarea,
input {
    background-color: #3a3a3a;
    color: #ffffff;
    border: 1px solid #555;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: calc(100% - 22px);
    /* Adjust for padding and border */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer {
    background-color: #2d2d2d;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.footer a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 0 3px;
    /* Add some spacing around the links */
}

.footer a:hover {
    color: #45a049;
    text-decoration: underline;
}

.heart {
    color: #ff0000;
    font-size: 16px;
    display: inline-block;
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}